@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  margin: s.space(10);
  width: 1000px;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: s.space(5);
}

.purchase-info {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: column;
    gap: s.space(5);
    border-bottom: 1px solid #ddd;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }
}
