<main class="main">
	{{> heading title="Мои заказы"}}

	<section class="purchase-list">
		{{#with data.purchases}}
			{{#each list}}
				{{>purchase-item}}
				{{> divider}}
			{{/each}}
		{{/with}}
	</section>

	<div>
		<a href="/purchase-index">На главную</a>
	</div>

</main>