<main class="main">
	{{> heading title="Мои заказы"}}

	{{#with data.purchases}}
		{{#each list}}
			<div class="purchase-list">
				<div>ID: {{id}}</div>
				<div>Товары: {{product}}</div>
				<div>Сумма заказа: {{totalPrice}}</div>
				<div>Насчитанные бонусы: {{bonus}}</div>
			</div>
		{{/each}}
	{{/with}}


</main>