@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  margin: s.space(10);
}

.form {
  max-width: 100%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: s.space(5);
  padding: s.space(10);
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.cart {
  display: grid;
  gap: s.space(2);
}

.cart__item {
  display: flex;
  justify-content: space-between;
}

.order-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: s.space(5);
}
