<main class="main">
	{{> heading title="Товары" info="Компьютеры и ноутбуки / Компьютеры, неттопы, моноблоки"}}

	<div class="product-list">
		{{#each data.list}}
			{{>purchase-product data=this}}
		{{/each}}
	</div>
</main>