<main class="main">

  {{#with data}}
      <form method='POST' action='/purchase-edit?id={{id}}' class='form'>
			 {{> heading title="Изменение данных"}}
       
						<div class="form__id">
							<span class='title'>ID:</span>
							<span class='text'>{{id}}</span>
						</div>
						<div class="form__order">
							{{> field label="Имя" name="firstname" value=firstname}}
							{{> field label="Фамилия" name="lastname" value=lastname}}
							{{> field label="Почта" name="email" value=email}}
							{{> field label="Телефон" name="phone" value=phone}}
						</div>

          {{> button text="Сохранить изменения"}}

      </form>
  {{/with}}
</main>